@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Spectral:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 29% 94%;
    --foreground: 60 1% 17%;
    --card: 0 0% 100%;
    --card-foreground: 60 1% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 60 1% 17%;
    --primary: 60 1% 17%;
    --primary-foreground: 40 29% 94%;
    --secondary: 40 29% 94%;
    --secondary-foreground: 60 1% 17%;
    --muted: 40 29% 94%;
    --muted-foreground: 110 3% 71%;
    --accent: 175 14% 84%;
    --accent-foreground: 60 1% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 29% 94%;
    --border: 37 33% 80%;
    --input: 37 33% 80%;
    --ring: 22 36% 55%;
    --radius: 0rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 60 1% 17%;
    --foreground: 40 29% 94%;
    --card: 60 2% 20%;
    --card-foreground: 40 29% 94%;
    --popover: 60 1% 17%;
    --popover-foreground: 40 29% 94%;
    --primary: 40 29% 94%;
    --primary-foreground: 60 1% 17%;
    --secondary: 60 2% 20%;
    --secondary-foreground: 40 29% 94%;
    --muted: 60 2% 20%;
    --muted-foreground: 40 14% 60%;
    --accent: 175 14% 84%;
    --accent-foreground: 60 1% 17%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 29% 94%;
    --border: 40 14% 15%;
    --input: 40 14% 15%;
    --ring: 22 36% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}